.bg-color{
    background-color: #f7b267;
}
.logo{
    margin-right: 0rem;
    margin-top: -0.3rem;
    padding-right: 0rem;
    height: 1.3rem;
}
.submitbtn{
    background-color: #ff8400;
    color: white;
}
.logodiv{
    margin-left: -7%;
}
.logo-text{
    margin-left: 0rem;
    padding-left: 0rem;
    color: white;
    font-weight: bolder;
}
.bookstay{
    color: white;
    font-weight: bolder;
    margin-left: 10rem;
    margin-top: -0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: -1rem;
}
.bookstay:hover{
    height: 2rem;
    background-color: white;
    color: #ff8400;
    border-radius: 8rem;
    font-weight: bolder;
    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.contactusbtn{
    color: white;
    font-weight: bolder;
    margin-top: -0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.contactusbtn:hover{
    height: 2rem;
    background-color: white;
    color: #ff8400;
    border-radius: 8rem;
    font-weight: bolder;
    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.error {
    border: 2px solid red;
}

.bordergray{
    border: 1px solid gray;
}

.yourhome{
    margin-top: -0.5rem;
    color: white;
    padding-top: 0.5rem;
    font-weight: bolder;
    background-color: #f7b267;
}
.yourhome:hover{
    height: 2rem;
    border-radius: 8rem;
    font-weight: bolder;
    padding-top: 0.2rem;
    background-color: white;
    color: #ff8400;
}
.signin{
    margin-left: 1rem;
    color: white;
    padding: 0.5rem 1rem;
}
.signin:hover{
    height: 2rem;
    padding: 0.2rem 1rem;
    background-color: white;
    color: #ff8400;
    border-radius: 8rem;
    margin-top: 0.2rem;
}
.signup{
    margin-left: 1rem;
    color: white;
    padding: 0.5rem 1rem;
}
.signup:hover{
    height: 2rem;
    padding: 0.2rem 1rem;
    background-color: white;
    color: #ff8400;
    border-radius: 8rem;
}
.scroll-div{
    background-color: white;
    margin-left: 1rem;
    height: 5rem;
    margin-right: 1rem;
}
.img-scroll{
    height: 2.5rem;
    width: 2.5rem;
}
.scroll-txt{
    color: black;
    font-size: small;
    text-decoration: none;
}
.carousel-indicators{
    list-style-type: none;
}
.carousalpic{
    border-radius: 0.5rem;
    height: 17rem;
}
.card{
    /* border-radius: 1rem;
    box-shadow: 1px 1px 1px gray; */
    border: 0px solid white;
}
/*.card:hover{
    box-shadow: 3px 3px 3px gray;
    transition: 0.6s ease;
} */
.divcont{
    background-color:aqua;
    color: white;
    padding: 100px;
}
.divv{ 
    display: flex; 
    overflow-x: auto;
    width: 70%;
}
.divvv{
    margin-left: 8rem;
}
.divv::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width:320px) {
    .bg-color{
        background-color: aquamarine;
    }
    .logodiv{
        margin-left: 5%;
    }
}
@media screen and (max-width:990px) {
    .bookstay{
        margin-left: 0rem;
    }
    form{
        margin-left: 0rem;
    }
    .signin{
        margin-left: 0rem;
    }
}
@media screen and (max-width:375px) {
    .bg-color{
        background-color: #f7b267;
    }
    .logodiv{
        margin-left: 5%;
    }
}
