.navbarheight{
    height: 6rem;
    border-bottom: 3px solid black;
}
.navinp{
    border: 0px solid white;
    background-color: rgb(198, 198, 198);
    border-left: 2rem;
    margin-top: 0.5rem;
}
.container-fluid{
    /* justify-content:start !important; */
}
.navlistdown li{
    list-style-type: none;
    list-style: none;
    padding: 0.5rem 1rem;
}
.navlistdown li a{
    text-decoration: none;
    color: black;
}
.divv{
    border-top: 1px solid black;
    margin-top: 5rem;
    padding-top: 1rem;
}
.navlistdown{
    display: flex;
    margin-top: 6.5rem;
    margin-left: 3rem;
}
.lidivv{
    padding: 2rem;
    height: 60%;
    width: 60%;
}